
.mode-toggle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 1s ease-in-out;
  position: fixed;
  bottom: 80px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

.bulb-icon {
  opacity: 0.6;
  transition: all 0.2s ease;
}
.bulb-icon:hover {
  opacity: 1;
  transform: scale(1.1) translateY(-5px);
  transition: all 0.2s ease;
}

.bulb-on .bulb-icon {
  color: yellow;
  filter: drop-shadow(0 0 20px yellow);
  transition: all 0.7s linear;
}

.bulb-off .bulb-icon {
  color: lightgrey;
  filter: drop-shadow(0 0 6px lightgrey);
  transition: all 0.7s linear;
}