.chapter-content{
    font-family: 'Georgia', serif;
    font-size: 18px;
    line-height: 1.6;
    padding: 20px;
    border-radius: 10px;
}
.chapter{
    margin: auto;
    max-width: 800px;
}
